Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

my_series = pd.Series([4, 8, 15, 16, 23, 42])

print(my_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [2]:
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

my_series = pd.Series(my_list)

print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

| Name| Age| Gender|
| --- | --- | --- |
| Alice | 25 | Female |
| Bob | 30| Male |
| Claire | 27 | Female |

Then, print the DataFrame.

In [3]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Answer: <br> A DataFrame is a two-dimensional size-mutable, tabular data structure with labeled axes (rows and columns) in pandas. It can be thought of as a spreadsheet or SQL table. It is a primary object in pandas, and all data-related operations are designed to work efficiently with DataFrame objects.

On the other hand, a pandas.series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.). It is very similar to a column in a spreadsheet or SQL table.

The main difference between a DataFrame and a Series is their dimensions. A Series is a single column of data, while a DataFrame can have one or more columns

In [4]:
import pandas as pd

data = {"Name": ["Alice", "Bob", "Charlie", "David"],
        "Maths": [90, 80, 70, 85],
        "Science": [75, 85, 80, 90],
        "English": [80, 75, 90, 70]}

df = pd.DataFrame(data)

print(df)

      Name  Maths  Science  English
0    Alice     90       75       80
1      Bob     80       85       75
2  Charlie     70       80       90
3    David     85       90       70

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Answer : <br>


There are numerous common functions in Pandas to manipulate data in a DataFrame, some of which are:

1. `df.head()` - returns the first n rows of the DataFrame.
2. `df.tail()` - returns the last n rows of the DataFrame.
3. `df.describe()` - returns a summary of statistics for each column in the DataFrame.
4. `df.sort_values()` - sorts the DataFrame by one or more columns.
5. `df.groupby()` - groups the DataFrame by one or more columns and applies a function to each group.

For example, you might use the `df.sort_values()` function to sort a DataFrame by a specific column, such as sorting a dataset of student grades by the grade received in a particular subject. This can help you identify which students are struggling or excelling in a given subject. Similarly, you might use the `df.groupby()` function to group a dataset of sales data by region or product category and compute the total sales for each group. This can help you identify which regions or products are generating the most revenue.

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Answer: <br>
Both Series and DataFrame are mutable in nature, meaning that their values can be changed after their creation. However, Panel objects are no longer recommended and have been replaced by multi-level indexed Series and DataFrame objects

Q7. Create a DataFrame using multiple Series. Explain with an example.

Answer: <br>
A Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.). It can be created using a list, tuple, dictionary or even a scalar value.

In [5]:
import pandas as pd

s1 = pd.Series(['John', 'Mike', 'Sarah'])
s2 = pd.Series([25, 32, 28])
s3 = pd.Series(['Male', 'Male', 'Female'])

df = pd.DataFrame({'Name': s1, 'Age': s2, 'Gender': s3})

print(df)

    Name  Age  Gender
0   John   25    Male
1   Mike   32    Male
2  Sarah   28  Female